* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
}

footer {
    margin: 0 200px;
}

.container {
    background-color: #e0e0e0;
    margin: 0 200px;
    display: flex;
    min-height: 100vh;
}

.hero{
    background-image: url(images/sky-scrapers.jpg);
    background-size: cover;
    width: 40%;
}

.main {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}