@font-face {
    font-family: fahwang-regular;
    src: url(source/Fahkwang/Fahkwang-Regular.ttf);
}
@font-face {
    font-family: audiowide; 
    src: url(source/Audiowide-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;    
}

h1 {
    font-family: 'audiowide';
    font-weight: 400;
    font-size: 3vw;
    color: #e0e0e0;
}

h2 {
    font-weight: 800;
    font-size: 1.4rem;
}

body {
    background-color: #7c6e83;
    margin: 0;
}

.container {
    background-color: #e0e0e0;
    margin: 0 100px;
    display: flex;
    min-height: 100vh;
}

.hero{
    background-image: url(images/sky-scrapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 60%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: #3223499c;
    color: #ffffff;
}

.logo img {
    height: 6vw;
    margin: 0 15px;
}

.photographer {
    color: #e0e0e0;
    background-color: #696868a1;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px;
    text-align: center;
}

.photographer a, .main-bottom a {
    color: #c082dd;
    text-decoration: none;
    font-weight: 500;
}

.main {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2px;
}

.main-top * {
    font-size: 1.3rem;
    padding: 30px;
    flex: auto;
}
.main-top em {
    margin: 0;
    padding: 0;
}

form {
    flex: auto;
    width: 100%;
    padding: 0 30px;
    box-shadow: 1px 1px 10px 0px #aaa9aa;
}

fieldset {
    margin: 0;
    padding: 0;
    height: 3vh;
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 25%); 
    column-gap: 5rem;
}

fieldset p{
    display: grid;
    height: 1rem;
}

label, input {
    font-size: 0.9rem;
}

input {
    border: 1pt solid #e5e7eb;
    border-radius: 5px;
}

input:focus{
    border: 1px solid #c082dd;
    outline: none;
    box-shadow: 1px 2px 5px 3px #aaa9aa;
}

button {
    border-radius: 5px;
    border: none;
    background: #9197e2;
    color: #19191a;
    width: 10.2rem;
    height: 2.3rem;
    box-shadow: 1px 2px 5px 1px #aaa9aa;
}

.error, .error:focus {
    border: 1px solid red;
}

.main-bottom {
    flex: auto;
    margin: 0;
    padding: 30px;
}


